.createAccountTitle {
  text-align: center;
  font-family: var(--app-secondary-font);
  letter-spacing: 0px;
  font-size: var(--app-sub-title-font-size);
  color: var(--app-sub-title-color);
  opacity: 1;
  margin-bottom: 25px;
}
.createAccountContainer {
  background-color: #fff;
}
.createAccountContainer1 {
  background-color: #fff;
  height: 500px;
}
.createAccountRow {
  padding-top: 50px;
  padding-bottom: 50px;
}
.createAccountDiv {
  background-color: #f4f5f9;
  padding: 50px;

  ::placeholder {
    color: var(--app-sub-title-color);
    opacity: 0.4;
    font-family: var(--app-primary-font);
    font-size: var(--app-small-font-size);
  }
}

.createAccountControll {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}
.createAccountControll:hover {
  border: 1px solid #000000;
  border-radius: 2px;
}
.createAccountControll:focus {
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 0 0 0 0rem rgb(34 34 34);
}
.createAccountControll {
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
}
.createAccountText {
  text-align: left;
  font-family: var(--app-primary-font);
  color: var(--app-sub-title-color);
  font-size: var(--app-small-font-size);
  font-style: var(--app-primary-font);
  letter-spacing: 0px;
}
.colAlignRight {
  text-align: right;
}
.eyeIcon {
  color: var(--app-unfocused-text-color);
  float: right;
  margin-top: -30px;
  padding-right: 10px;
}

.termsDiv {
  p {
    text-align: left;
    font-family: var(--app-primary-font);
    color: var(--app-primary-font-color);
    font-size: var(--app-extra-small-font-size);
    letter-spacing: 0px;
    margin-top: 5px;
  }
  a {
    font-family: var(--app-primary-font);
    color: var(--app-primary-font-color);
    text-decoration: underline;
  }
}

.formBottom {
  margin-bottom: 10px;
}
.checkBoxBottom {
  margin-bottom: 0;
}
.btnRowTop {
  margin-top: 10px;
}

.CustomButton {
  background-color: var(--app-primary-background-color);
  padding: 0;
}
