Sparky Warehouse Australia Pty Ltd ACN 636 536 082
<br />
<div></div>
DEFINITIONS
<br />
<div></div>
"Agreement” means these terms and conditions and other documents referred in
them.The “Company” means Sparky Warehouse Australia Pty Ltd.The “Customer” means
the company/partnership/sole trader who is applying for the credit line
facility.“I”, “We”, ‘Us” “Our” means the Company.“You”, “Your” means the
Customer.“Goods” means Goods supplied by the Company (and where the context so
permits shall include any supply of Services as hereinafter defined) and
includes Goods and Hired Equipment and are as described on the invoices,
quotation, work authorisation or any other forms as provided by the Company to
the Customer.“Guarantor” means the person(s), or entity, that guarantees this
Agreement including the signatory of this Agreement personally.“Hired Equipment”
means equipment hired out or loaned by the Company to the Customer.“PPSA” means
the Personal Property Securities Act 2009 (Cth) and related
regulations.“Services” means all Services supplied by the Company to the
Customer and includes any advice or recommendations (and where the context so
permits shall include any supply of Goods as defined above).
<br />
<div></div>
1. TRADING TERMS
<br />
<div></div>
1.1 Any instructions received by the Company from the Customer for the supply of
Goods or Services and/or the Customer’s acceptance of Goods or Services supplied
by the Company shall constitute acceptance of this Agreement.
<br />
<div></div>
1.2 Where more than one Customer has entered into this Agreement the Customers
shall be jointly and severally liable for all obligations.
<br />
<div></div>
1.3 Upon acceptance of this Agreement by the Customer the Agreement is binding
and can only be amended with the written consent of the Company.
<br />
<div></div>
1.4 Where you place an order which contains terms and conditions inconsistent
with this Agreement, this Agreement shall apply to that order.
<br />
<div></div>
2. PAYMENT TERMS
<br />
<div></div>
2.1 Unless otherwise agreed in writing payment terms are net cash 30 days from
the end of the month in which the Goods were delivered or Services given to the
Customer, his carrier or agent. Time shall be of the essence.
<br />
<div></div>
2.2 The Company may at its discretion offer a discount for early settlement of
invoices owing. The Customer may take advantage of any settlement discount which
may be offered only if payment in full takes place within the terms specified on
the invoice, and no other invoice amounts are outstanding beyond their dates at
that time.
<br />
<div></div>
3. CREDIT POLICY CONDITIONS
<br />
<div></div>
Credit account facilities may be withdrawn at any time at the discretion of the
Company without prior notice being given in which event the full amount owing by
the Customer to the Company becomes immediately due and payable.
<br />
<div></div>
4. PRODUCT AVAILABILITY
<br />
<div></div>
Any date quoted for delivery is an estimate only and unless a guarantee has been
given by the Company in writing providing for liquidated damages for failure to
deliver by the quoted date, the Company shall not be liable to the Customer for
any loss or damage however arising even if arising out of the negligence of the
Company for failure to deliver on or before the quoted date.
<br />
<div></div>
5. QUANTITIES ORDERED
<br />
<div></div>
Any estimates the Company may have given of Goods or Services required for a
particular job will be without obligation and the Customer will be responsible
for ascertaining the proper quantities to be ordered.
<br />
<div></div>
6. HIRED EQUIPMENT
<br />
<div></div>
6.1 In relation to any Hired Equipment:
<br />
<div></div>
(a) You acknowledge that ownership and/or title to the Hired Equipment belongs
to us at all times.
<br />
<div></div>
(b) You shall insure and be responsible for the full cost of repair or
replacement of any or all of the Hired Equipment that is damaged, lost,
confiscated, or stolen from the time you assume custody until it is returned to
us. If the HiredEquipment is lost, stolen or damaged, you agree to promptly
notify us.
<br />
<div></div>
(c) You will be responsible for the proper use and deployment of the Hired
Equipment. You will be responsible for training anyone using the Hired Equipment
on the proper use of the Hired Equipment in accordance with any Hired Equipment
use procedures.
<br />
<div></div>
(d) Unless otherwise agreed, you shall keep the Hired Equipment in your
possession and control at all times and shall not allow or authorise any other
person or entity to use, re-hire, sub-hire or have possession of Hired
Equipment,
<br />
<div></div>
(e) Subject to any warranties imposed by law, we disclaim all representations
and warranties associated with the Hired Equipment and any use thereof,
including any warranty of fitness for any particular purpose.
<br />
<div></div>
(f) You shall be responsible for the safe packaging, proper import, export,
shipping and receiving of the Hired Equipment. The Hired Equipment shall be
returned within a reasonable amount of time after any agreed hired or loan
period and if none is specified, on demand by us.
<br />
<div></div>
(g) The Hired Equipment shall be returned to us in as good a condition as when
received by you, except for reasonable wear and tear. Prior to return, the
Customer agrees to assume all responsibility for maintenance and repair.
<br />
<div></div>
(h) You shall comply with all country, federal, state, county, and municipal
laws, ordinances, and regulations, if any, applicable to the transportation and
use of the Hired Equipment. You shall secure all local, state and country
licenses or permits required to use the Hired Equipment, pay all taxes and fees
and comply with all export laws. It is your responsibility to ensure that the
Hired Equipment has cleared customs before departing the place or country of use
and is in transit to us.
<br />
<div></div>
(i) You agree to indemnify, defend and hold us harmless from any and all
damages, losses, claims, causes of actions, expenses and liability of any nature
whatsoever associated with your use of Hired Equipment while in your care,
custody and control.
<br />
<div></div>
7. OWNERSHIP & RISKS
<br />
<div></div>
7.1 The Customer shall assume the risk of breakage, wastage, loss or damage upon
delivery of the Goods to the Customer's nominated delivery point.
<br />
<div></div>
7.2 The Customer hereby acknowledges that ownership of the Goods will remain
with the Company and is only transferred when all sums owing by the Customer for
the Goods has been fully paid, save for as specified herein. Until such time the
Company reserves the right to recover the Goods at its own option. For this
purpose the Company's employees or agents may enter your premises and you are
obliged to deliver up the Goods if so directed by the Company. The Customer
hereby irrevocably empowers and gives to the Company a license in addition to
and without limitation of any other right the Company may have to enter without
notice, upon any of its premises and to take possession of the same and to
thereafter deal with the Goods as its own. This license endures so long as
monies whatsoever are owed by the Customer to the Company.
<br />
<div></div>
7.3 Property in Goods delivered to the Customer shall not pass to the Customer
until such time as the Company has received payment in full for the Goods, save
as specified herein. If the Goods are delivered prior to payment being made by
the Customer to the Company, the Customer shall have possession of the Goods by
bailee only and such bailment shall be terminable by the Company at any time.
The Company may terminate such bailment either by oral or written notice being
given to the Customer. Until the date of payment of all monies owing to the
Company, the Customer must store the Goods in such a way to show that they are
clearly the property of the Company. If the Customer sells Goods to any third
party, the consideration received, shall be held on trust for the Company.
<br />
<div></div>
7.4 The Customer must whenever requested by the Company sign all documents and
do all acts and things requested by the Company to register the interest of the
Company on the Personal Property Securities Register and such other register as
the Company requires under the PPSA. 7.5 To the extent permitted by the PPSA the
Customer:
<br />
<div></div>
(a) contracts out of the provisions of the PPSA which, under s.115(1) and
Section 157 of the PPSA, it is permitted to contract out of;
<br />
<div></div>
(b) waives its right to receive from the Company each notice or document which
it is permitted to waive under s. 144 ofthe PPSA;
<br />
<div></div>
(c) waives its right to receive anything from the Company under s. 175 of the
PPSA and agrees not to make any request of another company under that section;
and
<br />
<div></div>
(d) Nothing in this clause affects the right of the Company to receive a notice,
document or amount which it is entitled to receive under another provision of
this Agreement or any other agreement to which it is a party.
<br />
<div></div>
7.6 The Customer and Guarantor hereby acknowledge that the Company may register
charges and caveats over all assets of the Customer and Guarantor to secure the
payment of all monies owed by the Customer and/or Guarantor to the Company in
the event of a breach or threatened breach of this Agreement. The Customer and
Guarantor further acknowledge that all costs and disbursements associated with
the registration and discharge of all charges and caveats and the recovery of
all outstanding monies shall be borne by the Customer and/or Guarantor.
<br />
<div></div>
8. DEFECTS
<br />
<div></div>
8.1 We warrant that the rights and remedies in this Agreement for warranty
against defects are in addition to other rights and remedies you have under any
applicable Law in relation to the Goods and/or Services to which the warranty
relates.
<br />
<div></div>
8.2 The Customer shall inspect the Goods on delivery and shall within 7 days of
delivery (time being of the essence) notify the Company of any alleged defect,
shortage in quantity, damage or failure to comply with the description or quote.
The Customer shall afford the Company an opportunity to inspect the Goods within
a reasonable time following delivery if the Customer believes the Goods are
defective in any way. If the Customer shall fail to comply with these provisions
the Goods shall subject to applicable law be presumed free from any defect or
damage.
<br />
<div></div>
8.3 To the extent permitted by law, our liability in respect of defective goods
and services will be limited to:
<br />
<div></div>
(a) the re-supply of the Goods and/or Service; or
<br />
<div></div>
(b) the payment of the cost of having the Goods and/or Services supplied again;
or
<br />
<div></div>
(c) the refund of the price paid by you in respect of the Goods and/or Service.
<br />
<div></div>
9. OWNERSHIP OF INTELLECTUAL PROPERTY
<br />
<div></div>
9.1 You acknowledge that ownership and/or title to any ideas, designs and
intellectual property belongs to us at all times.
<br />
<div></div>
9.2 All intellectual property rights in all quotes, proposals, ideas, diagrams,
information, resources, files, documents, design of landscaping and materials
remain our property and are not to be disclosed to any other person without our
written consent.
<br />
<div></div>
9.3 You hereby assign to us all your present and future right title and interest
in any intellectual property or otherwise arising from or in connection with
this Agreement.
<br />
<div></div>
9.4 You warrant that you will not, whether directly or indirectly, infringe or
allow any party to infringe on any intellectual property rights in relation to
the Goods and/or Services provided.
<br />
<div></div>
9.5 You warrant not to publish, disclose or communicate any details contained
within the drawings and related documents to a third party without first
obtaining our consent in writing.
<br />
<div></div>
10. WARRANTY
<br />
<div></div>
10.1 The following applies to any express, implied or statutory warranty that
may relate to the Goods and Services:
<br />
<div></div>
(a) The warranty shall not cover any defect or damage which may be caused by or
arise through:
<br />
<div></div>
(i) failure on the part of the Customer to properly maintain, transit or store
any Goods; or
<br />
<div></div>
(ii) failure on the part of the Customer to follow any instructions or
guidelines provided by the Company; or
<br />
<div></div>
(iii) any use of any Goods otherwise than for any applicable use specified on a
quote or order form; or
<br />
<div></div>
(iv) the continued use of any Goods after any defect becomes apparent or would
have become apparent to a reasonably prudent operator or user; or
<br />
<div></div>
(v) fair wear and tear, damage whether from misuse or accident, or external or
environmental force or act of God.
<br />
<div></div>
10.2 The warranty shall cease and the Company shall thereafter in no
circumstances be liable under the terms of the warranty if the Goods are
treated, repacked or altered without the Company’s prior written consent.
<br />
<div></div>
10.3 In respect of all claims the Company shall not be liable to compensate the
Customer for any delay in either replacing or remedying the Goods or in properly
assessing the Customer’sclaim.
<br />
<div></div>
11. EXCLUSIONS
<br />
<div></div>
11.1 Subject to any warranties imposed by law, the Company gives no warranty and
it is not a condition that the Goods or Services supplied hereunder shall be
reasonably fit for the purpose for which the Customer requires the same or for
any particular purpose. Subject to Clause 8, If there is any dispute regarding
the quantity, quality or finish of the Goods or Services or any other matter in
connection with this Agreement the Customer shall be obliged to make full
payment for the Goods or Services no set off shall be allowed. The Customer
shall indemnify the Company for any claims made by third parties for whatever
reason in relation to the Goods or Services.
<br />
<div></div>
12. CANCELLATION POLICY
<br />
<div></div>
12.1 Cancellations must be approved by the Company. The Company is not obliged
to agree to any cancellation request and any such request will only be
considered when requested in writing and a minimum of 30 days prior to the
requested shipment date.
<br />
<div></div>
12.2 In the event that the Customer cancels delivery of Goods or order for
Services, the Customer shall be liable for any loss incurred by the Company
(including, but not limited to, any loss of profits) up to the time of
cancellation.
<br />
<div></div>
13. DEFAULT
<br />
<div></div>
13.1 If you are in any way in default of the terms of this Agreement, we may
immediately suspend your order, cancel your order and/or repossess any Goods in
your possession or control and we shall not be liable for any loss or damage
whatsoever suffered as a result of such suspension, cancellation and
repossession.
<br />
<div></div>
13.2 Notwithstanding that our interest in Goods may be inseparable and comingled
with Customer goods, we may repossess and sell any finished Goods and apply what
we receive from the sale of the finished Goods at your expense to any debt owing
under this Agreement or elsewhere.
<br />
<div></div>
14. TERMINATION
<br />
<div></div>
If:
<br />
<div></div>
(a) You materially breach the Agreement and the breach cannot be remedied within
a reasonable period;
<br />
<div></div>
(b) You cease to carry on a business;
<br />
<div></div>
(c) You are unable to pay your debts as they become due, are presented with a
winding-up petition or if any step is taken to appoint a receiver, receiver and
manager, a trustee in bankruptcy, a provisional liquidator, a liquidator, or an
administrator to you, your assets, business or operations;
<br />
<div></div>
(d) We believe that any of the events stated in (a) – (c) has occurred or there
is a material risk that any of those events may occur; then
<br />
<div></div>
All amounts owed to us become immediately due and payable and we may:
<br />
<div></div>
(a) terminate this Agreement and any agreement to supply under this Agreement by
giving 7 days written notice to you in the event listed in (a), or in any other
event, immediately;
<br />
<div></div>
(b) suspend any further supply of Goods or Services;
<br />
<div></div>
(c) cancel any discounts provided to you for early payment;
<br />
<div></div>
(d) repossess any Goods which title remain with us; and/or
<br />
<div></div>
(e) set off any amount owed by you against any amount owed by us.
<br />
<div></div>
14.1 If we materially breach the Agreement and the breach cannot be remedied
within a reasonable time, you may terminate this Agreement by giving 7 days
written notice to us. In such event, all amounts owed by you to us under this
Agreement will become immediately due and payable and we have the right to
repossess all Goods to which title has not yet passed to you.
<br />
<div></div>
15. INDEMNITY
<br />
<div></div>
15.1 To the extent permitted by law, you hereby indemnify and hold us harmless
against all losses, costs and claims arising from:
<br />
<div></div>
(a) or in connection with the supply of the Goods or Services unless and except
to the extent that any loss, harm, damage, cost or expense was caused or
contributed to by us;
<br />
<div></div>
(b) any alteration to the Goods or any product of our Services other than by us;
<br />
<div></div>
(c) infringement of intellectual property rights which arise from use of
specifications provided by you in connection with the Goods or Customer Goods;
<br />
<div></div>
(d) use the Goods or any product of our Services other than in accordance with
the instructions provided by us;
<br />
<div></div>
(e) your failure to use the Goods or any product of our Services for the purpose
you have informed us; or
<br />
<div></div>
(f) your failure to comply with the terms of this Agreement.
<br />
<div></div>
16. FORCE MAJEURE
<br />
<div></div>
If by reason directly or indirectly of industrial disturbances, strikes, labour
disputes, shortage of suitable constituents material, labour, transportation,
accidents, pandemics, epidemics, government restrictions, weather events, or any
other cause of whatsoever nature beyond the control of the Company, the Company
is unable to perform in whole or in part its obligations set forth herein, then
the Company shall be relieved of these obligations, to the extent that it is
unable to perform and such inability to perform so caused shall not make the
Company liable to the Customer or any other person in any way whatsoever.
<br />
<div></div>
17. PRICES
<br />
<div></div>
All prices quoted in the Company’s price lists are subject to change without
notice. The Company reserves the right to amend prices.
<br />
<div></div>
18. GST
<br />
<div></div>
The Customer must pay the GST which applies to the supply of any Goods or
Services by the Company to the Customer.
<br />
<div></div>
19. SIGNATORY LIABLE
<br />
<div></div>
The signatory warrants it has authority to enter into this Agreement and further
agrees that it is personally liable and guarantees all obligations of the
Customer under these terms and conditions. The guarantee is in addition to and
does not derogate from any other guarantee provided.
<br />
<div></div>
20. JURISDICTION
<br />
<div></div>
The parties shall be bound by the laws of the state of Victoria in relation to
all matters arising from all contracts between the parties and the parties agree
to submit to the non-exclusive jurisdiction of the court of Victoria and the
federal courts of Australia and that any legal proceedings may be heard in these
Courts.
<br />
<div></div>
21. DISCLOSURE OF INFORMATION
<br />
<div></div>
We may disclose the information in this application and any default in payment
in excess of 50 days to a credit reporting agency in accordance with the Privacy
Act and may obtain a report regarding the Applicant’s credit worthiness from a
credit reporting agency or any credit provider named on this Application or
disclosed by a credit reporting agency.
<br />
<div></div>
22. EXCHANGING INFORMATION WITH OTHER CREDIT PROVIDERS (SECTION 18N PRIVACY ACT,
1988)
<br />
<div></div>
You agree to Us obtaining personal information about you from other credit
providers, whose names You may have provided to Us or that may be named in a
credit report, for the purposes of assessing your application.
<br />
<div></div>
23. AGREEMENT TO A CREDIT PROVIDER BEING GIVEN A CONSUMER CREDIT REPORT TO
COLLECT OVERDUE PAYMENTS ON COMMERCIAL CREDIT (SECTION 18K) PRIVACY ACT 1988)
<br />
<div></div>
You agree that We may obtain a consumer credit report about You from a
credit-reporting agency for the purpose of assessing your credit worthiness and
for collecting overdue payments relating to commercial credit owed by You.
<br />
<div></div>
24. BUSINESS PURPOSES
<br />
<div></div>
You acknowledge that the credit provided to the Company under this Agreement
shall be provided wholly or predominantly for business purposes.
<br />
<div></div>
25. SPECIAL CONDITIONS
<br />
<div></div>
The parties expressly covenant and agree that in addition to the terms and
conditions herein, the Special Conditions set out in the Schedule hereto shall
apply. In the event the Special Conditions are different or inconsistent with
other terms and clauses in this Agreement, the terms contained in the Special
Conditions shall prevail but only to the extent that such terms or clauses under
the Special Conditions are inconsistent or different from the other terms in
this Agreement.
<br />
<div></div>
THE FOLLOWING PROVISIONS APPLY WHERE CREDIT TERMS ARE OFFERED:
<br />
<div></div>
26. CREDIT TERMS
<br />
<div></div>
26.1 You must pay the full amount of invoices however you may take advantage of
any settlement discount offered only if payment in full takes place within the
terms specified on the invoice, and no other invoice amounts are outstanding
beyond their dates at that time.
<br />
<div></div>
26.2 In the event you are in debt to us exceeding our credit terms, we reserve
the right to; not provide any Goods and/or Services; cancel any Order; and
recover all unpaid Goods or Services from you.
<br />
<div></div>
26.3 From time to time we may review your credit account without notice.
<br />
<div></div>
26.4 Credit account facilities may be withdrawn at any time at our discretion
without prior notice being given.
<br />
<div></div>
26.5 You acknowledge that any credit provided to you under these this Agreement
shall be provided wholly or predominantly for business
<br />
<div></div>
26.6 purposes.
<br />
<div></div>
DEED OF GUARANTEE AND INDEMNITY
<br />
<div></div>
TO: Sparky Warehouse Australia Pty Ltd ACN 636 536 082
<br />
<div></div>
We, each of the undersigned, for ourselves, our respective executors and
administrators jointly and severally indemnify you against all loss and
guarantees all obligations to you under this Agreement. We will on demand by you
pay, to you the whole of the monies owed to you and we will keep you indemnified
against all losses, costs, charges and expenses whatsoever which you may incur
as a result of any breach of the Agreement. This is a continuing guarantee and
indemnity and shall not be released by any neglect or forbearance on your part
in enforcing payment of any of the monies or obligations owed. We further agree
to the security and Special Conditions provisions under this Agreement.
<br />
<div></div>
EXECUTED AS A DEED
