.ForgotPasswordBackgroundColor {
    background: var(--app-action-background-color);
}

.forgotPasswordBox {
    margin-top: 25%;
    margin-bottom: 25%;
    background: var(--app-primary-background-color);
    border: 1px solid var(--app-primary-border-color);
    box-shadow: 0px 0px 20px #0000000A;
    border-radius: 2px;
}

.innerBoxContainer {
    padding: 10%;
}

.boxTopic {
    font-family: var(--app-secondary-font);
    font-size: var(--app-sub-title-font-size);
    color: var(--app-sub-title-color);
    text-align: left;
}

.colAlignRight {
    text-align: right;
}

.colDescription {
    color: var(--app-secondary-font-color);
    p {
        font-family: var(--app-primary-font);
        font-size: var(--app-default-font-size);
    }
}
.btnRow{
    margin-top: 5%;
}