:root {
  --app-primary-background-color: #2595d4;
  --app-secondary-background-color: #2595d4;
  --app-action-background-color: #f2f2f2;
  --app-nav-background-color: #333333;
  --app-footer-background-color: #333333;
  --app-grey-background-color: #afafaf;

  --app-font-color: #2595d4;
  --app-primary-font-color: #222222;
  --app-secondary-font-color: #727272;
  --app-sub-title-color: #333333;
  --app-nav-text-color: #ffffff;
  --app-footer-text-color: #777777;
  --app-unfocused-text-color: #c4c4c4;
  --app-primary-highlighted-text-color: #db5151;
  --app-secondary-highlighted-text-color: #43b963;

  --app-primary-border-color: #e5e5e5;
  --app-secondary-border-color: #c4c4c4;

  --app-primary-btn-background-color: #ffffff;
  --app-secondary-btn-background-color: #000000;
  --app-primary-btn-text-color: #333333;
  --app-secondary-btn-text-color: #ffffff;
  --app-primary-btn-border-color: #000000;
}
